*/bin/*
*/obj/*
*.suo
*.user
*/Debug/*
*/csx/*

*_Resharper*
TestResults/*
*.vsmdi
StyleCop.Cache
/TestResult.xml
/*.VisualState.xml
/Storage.dat
/Index.dat
/Package/*
/Package.Tests/*
/packages/*
/.vs/*
